.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0px 30px;
    border-radius: 10px;
    width: 80px;
    border: 1px solid #9c6700;
    cursor: pointer;
    outline: none;
}
.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    width: 80px;
    font-weight: normal;
    font-size:  1.2rem;
    text-align: center;
    color: white;
}

.BuildControl .Less {  
    background-color: #e0271d;
    color: white;
    font: 'Rubik';
}

.BuildControl .More {
    background-color: #82b816;
    color: white;
    font: 'Rubik';
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #fa4a41;
    color: black;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #bcf747;
    color: black;
}