.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-weight: bold;
}

.NavigationItem a{
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active, 
.NavigationItem a.active {
    color: rgb(60, 236, 37);
}

@media(min-width: 500px) {
    .NavigationItem {
        font-weight: 400;
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active, 
    .NavigationItem a.active {
        background-color: rgb(214, 79, 0);
        border-bottom: 4px solid rgb(81, 201, 12);
        color: white;
    }
}